<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="#{registration_welcome(${fullName})}">Welcome to CraftyCocktails, Aleksandra Mileva!</h1>
<th:block th:text="#{registration_dear_user(${fullName})}">Dear Aleksandra Mileva,</th:block>
<p th:text="#{registration_action}">
    Your registration is almost completed! Click on the link below to verify your account:
</p>
<br>
<a th:href="${verificationURL}"
        th:text="#{registration_verify}"></a>
<br>
<div>
    <p  th:text="#{registration_best_regards}">Best regards, </p>
    <p  th:text="#{crafty_cocktails_team}">The CraftyCocktails Team</p>

</div>
</body>
</html>